$background: #121214;
$fonte-principal: 'Helvetica', sans-serif;
$font-color: #a4a4a4;
$color-1: #7d0754;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $font-color;
  font-size: 16px;
}
body {
  background-color: $background;
}

a {
  text-decoration: none;
}
